#top .logo .text {
    visibility: hidden !important;
}
a#logo {
    display: none !important;
    visibility: hidden !important;
}
a#startTestButton.textButton.view-start{
    visibility:hidden !important;
}
div.icon{
    visibility:hidden !important;
}
div.notificationBubble{
    visibility:hidden !important;
}
div.text{
    visibility:hidden !important;
}
button#contactPopupButton.textButton{
    visibility:hidden !important;
}
button#supportMeButton.textButton{
    visibility:hidden !important;
}
button#contactPopupButton.textButton{
    visibility:hidden !important;
}
a.textButton{
    visibility:hidden !important;
}
button.current-theme.textButton{
    visibility:hidden !important;
}
button.currentVersion.textButton{
    visibility:hidden !important;
}
a.textButton.account.view-account{
    visibility:hidden !important;
}
#top .logo .text .top {
    visibility: hidden; 
}
div.textButton {
    visibility:hidden;
}

#top .logo .icon{
    visibility: hidden !important;
}
#top .logo .bottom {
    visibility: hidden;
}

#bottom {
visibility: hidden;
}

#top .icon {
visibility: hidden;
}
#top .account {
visibility: hidden;
}
#top .notifications {
visibility: hidden;
}
#menu {
visibility: hidden;
display: none;
}   
#testConfig {
visibility: hidden;
}
#typingTest {

    transform: translateY(-140px);
    margin-left: 10%;
    margin-right: 10%;
}

#commandLine {
    background: none !important;
}
#commandLineWrapper {
    background: none;
    backdrop-filter: blur(5px) brightness(0.5);
    transition: 0.5s ease;
}
#commandLine input {
    background: none !important;
}
#commandLine > div:first-child {
    border-radius: 0;
    border-bottom: 1px solid var(--sub-color) !important;
}

/* command line scrollbar */
#commandLine .suggestions {
    scrollbar-width: none !important;
    scrollbar-color: rgba(255, 255, 255, .1) transparent !important;
}
#commandLine .suggestions:hover {
    scrollbar-width: thin !important;
}
#commandLine .suggestions::-webkit-scrollbar {
    width: 0px;
}
#commandLine .suggestions:hover::-webkit-scrollbar {
    width: 7px;
}