/* Hiding various elements */
.hidden {
    visibility: hidden !important;
}

#top .logo .text,
a#logo,
a#startTestButton.textButton.view-start,
div.icon,
div.notificationBubble,
div.text,
div.textButton,
button#contactPopupButton.textButton,
button#supportMeButton.textButton,
a.textButton,
button.current-theme.textButton,
button.currentVersion.textButton,
a.textButton.account.view-account,
#top,
#menu,
#testConfig,
#bottom {
    visibility: hidden !important;
}

#menu {
    display: none;
}

/* Typing test adjustments */
#typingTest {
    transform: translateY(-140px);
    margin: 0 10%;
}

/* Command line styles */
#commandLine {
    background: none !important;
}

#commandLineWrapper {
    background: none;
    backdrop-filter: blur(5px) brightness(0.5);
    transition: 0.5s ease;
}

#commandLine input {
    background: none !important;
}

#commandLine > div:first-child {
    border-radius: 0;
    border-bottom: 1px solid var(--sub-color) !important;
}

/* Command line scrollbar */
#commandLine .suggestions {
    scrollbar-width: none !important;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent !important;
}

#commandLine .suggestions:hover {
    scrollbar-width: thin !important;
}

#commandLine .suggestions::-webkit-scrollbar {
    width: 0;
}

#commandLine .suggestions:hover::-webkit-scrollbar {
    width: 7px;
}
